{% extends 'blog_base.html' %}

{% block title %} About {% endblock %}

{% block body %}

<!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/well-foods-microbiome-jumbo.jpeg') }}')">
        <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About</h1>
              <span class="subheading">the coders who cook</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Hello! We are the creators of this blog, Team 404: Name Not Found </h1>
            <img src="/static/img/IMG_0451.PNG" alt="Team 404 Illustration" width="800" height="800">
            <h2>Who are we?</h2>
          <p>We are a small team of junior software developers creating and programming our very first blog, both frontend and backend (full stacking coding!). Our team members are: Ellie, Jen, Kaz, Reetu, and Wiam</p>
            <h2>Why did we make this blog?</h2>
          <p></p>
            <h2>Cool.</h2>
          <p>Thanks, we think so!</p>
        </div>
      </div>
    </div>

{% endblock %}