<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add a Blog Post</h1>
<form action="#" method="post">
   <div class="form-group">
       <label for="name">Blog Title:</label>
       <input type="text" maxlength="100" name="name" placeholder="title of the post">

       <label for="author">Author:</label>
       <input maxlength="100" name="author" placeholder="Author of the blog post">

       <label for="post_date">Date created:</label>
       <input maxlength="100" name="genre" placeholder="Date of the post">

       <button type="submit">Create</button>
   </div>
</form>
</body>
</html>