{% extends 'blog_base.html' %}

{% block title %} Sorry {% endblock %}

{% block body %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://trello-attachments.s3.amazonaws.com/6055f8e6be992c7aa92e5792/607f32886ed53d08c380aa18/583ba13d8a8cd0066b0c03d9cb7ac592/image.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{error}}</h1>
                    <h2>{{email}}</h2>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}