{% extends 'blog_base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/well-foods-microbiome-jumbo.jpeg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>megaBITES</h1>
                    <span class="subheading">the coders who cook</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">

    {% if request.cookies.get('admin') == 'yes' %}
    <form action="/post/create">
      <button class="btn"><i class="fa fa-plus">Add new post</i></button>
    </form>
   {% endif %}

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts|reverse %}
            <div class="post-preview">
                <a href="post/{{post.post_id}}">
                    <h2 class="post-title">
                        {{post.blog_title}}
                    </h2>
                    <h6 class="post-subtitle">
                        {{post.blog_subtitle}}
                    </h6>
                </a>
                <p class="post-meta">Posted by
                    <a href="mailto:{{post.blog_author}}">{{post.blog_author}}</a>
                    on {{post.post_date}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
        </div>
    </div>
</div>

<footer>
    <div class="row justify-content-center">
        <h3>The megaBITES Newsletter</h3>
    </div>

    <div class="row justify-content-center">
        <h4>Mouthwatering recipes and cooking hacks right to your inbox!</h4>
    </div>

    <div class="row justify-content-center">
        <h4>Love the Coders who Cook?</h4>
    </div>

    <form class="form-inline d-flex justify-content-center" action="{{ url_for('subscribe') }}" method="post">
        <div class="form-group mx-sm-3 mb-2">
        <label for="email" class="sr-only">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
        <div class="form-group mx-sm-3 mb-2">
            <button type="submit" value="Subscribe" class="btn btn-primary mb-2">Subscribe!</button>
    </div>
    </form>

</footer>

{% endblock %}