{% extends 'blog_base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/well-foods-microbiome-jumbo.jpeg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>megaBITES</h1>
            <span class="subheading">the coding chefs</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for post in posts %}
          <div class="post-preview">
            <a href="post/{{post.post_id}}">
                <h2 class="post-title">
                  {{post.blog_title}}
                </h2>
            </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.blog_author}}</a>
            on {{post.post_date}}</p>
            </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}