{% extends 'blog_base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('{{ url_for('static', filename='img/well-foods-microbiome-jumbo.jpeg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Welcome Back!</h1>
                    <span class="subheading">Your very own megaBITES account.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Header -->
<div class="container">
    {% if 'mBuID' in request.cookies %}
    <form action="/logout" method="post">
        <input class="btn btn-default" type="submit" value="Logout">
    </form>
    {% else %}
    <br>
    <form action="/login" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        {% endif %}
</div>

{% endblock %}