{% extends 'blog_base.html' %}

{% block title %} {{post.blog_title}} {% endblock %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/well-foods-microbiome-jumbo.jpeg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>megaBITES</h1>
            <span class="subheading">the coders who cook</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
<div class="container">
  {% if request.cookies.get('admin') == 'yes' %}
  <div style="display: flex;">
    <form action="/post/{{post.post_id}}/edit">
      <button class="btn"><i class="fa fa-edit"></i>Edit</button>
    </form>
    <form action="/post/{{post.post_id}}/delete">
      <button class="btn"><i class="fa fa-trash"></i>Delete</button>
    </form>
    </div>
  <hr>
   {% endif %}
  <div class="justify-content-end">
    <form action="/post/{{post.post_id}}/like">
      <button class="btn"><i class="fa fa-heart"></i>Like</button>
    </form>
  </div>
  <h1>{{post.blog_title|safe}}</h1>
  <h5>{{post.blog_subtitle|safe}}</h5>
  <p>by <a href="#">{{post.blog_author}}</a></p>
  <hr>
   {{post.content|safe}}
  </div>

{% endblock %}