{% extends 'blog_base.html' %}

{% block title %} {{post.blog_title}} {% endblock %}

{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/well-foods-microbiome-jumbo.jpeg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>megaBITES</h1>
            <span class="subheading">the coders who cook</span>
          </div>
        </div>
      </div>
    </div>
  </header>
<script type="text/javascript">
  var scrollToElement = function(el, ms){
    var speed = (ms) ? ms : 600;
    $('html,body').animate({
        scrollTop: $(el).offset().top
    }, speed);
}
</script>
<!-- Main Content -->
<div class="container">
  {% if request.cookies.get('admin') == 'yes' %}
  <div style="display: flex;">
    <form action="/post/{{post.post_id}}/edit">
      <button class="btn"><i class="fa fa-edit"></i>Edit</button>
    </form>
    <form action="/post/{{post.post_id}}/delete">
      <button class="btn"><i class="fa fa-trash"></i>Delete</button>
    </form>
    </div>
  <hr>
   {% endif %}
  <div class="justify-content-end">
    <div style="display: flex;">
    <form action="/post/{{post.post_id}}/like">
      <button class="btn"><i class="fa fa-heart"></i> {{post.likes}} Likes</button>
    </form>
      <button class="btn" onclick="scrollToElement('#comments', 600)"><i class="fa fa-comments"></i> {{comments|length}} Comments</button>
    </div>
  </div>
  <hr />
  <h1>{{post.blog_title|safe}}</h1>
  <h5>{{post.blog_subtitle|safe}}</h5>
  <p>by {{post.blog_author}}</p>
  <hr>
   {{post.content|safe}}

<!--  add a new div to put the comment list and comment box -->

  <div id="comments">

    {% for comment in comments|reverse %}
    <hr />
    <div class="card">
      <div class="card-header">
        <p>{{comment.author}} on {{comment.date}} said...</p>
      </div>
      <div class="card-body">
          <p>{{comment.message}}</p>
      </div>
    </div>
    <hr>
    {% endfor %}


  </div>
  {% if request.cookies.get('is_logged_in') == 'yes' %}
  <hr />
  <div>
    <h5>{{request.cookies.get('name')}} says...</h5>
    <form action="/post/{{post.post_id}}/comment" method="post">
    <div class="input-group">
      <textarea class="form-control" name="message"></textarea>
      <button type="submit" class="btn btn-primary">Submit Comment!</button>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}