{% extends 'blog_base.html' %}

{% block title %} Recipes {% endblock %}

{% block body %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://trello-attachments.s3.amazonaws.com/6055f8e6be992c7aa92e5792/607f32886ed53d08c380aa18/58ab8c7a5af996c16aa6e348265b1473/image.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Register An Account</h1>
                    <span class="subheading">the coders who cook</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->

<div class="container">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend">
                <h2>Register</h2>
            </div>
            <div class="control-group">
                <!-- Name -->
                <p>Name</p>
                <div class="controls">
                    <input type="text" id="name" name="name" placeholder="" class="input-xlarge">

                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <p>Email</p>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                </div>
            </div>

            <div class="control-group">
                <!-- Password-->
                <p>Password (Password should be at least 4 characters)</p>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge">

                </div>
            </div>

            <div class="control-group">
                <!-- Password -->
                <p>Confirm Password</p>
                <div class="controls">
                    <input type="password" id="password_confirm" name="password_confirm" placeholder=""
                           class="input-xlarge">
                </div>
            </div>
            <br>
                <!-- Button -->
                 <div class="form-group mx-sm-0 mb-0=2">
            <button type="submit" value="Register" class="btn btn-primary mb-2">Register!</button>
                 </div>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
