{% extends 'blog_base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<!-- Page Header -->
<header class="masthead"
        style="background-image: url('https://trello-attachments.s3.amazonaws.com/6055f8e6be992c7aa92e5792/607f32886ed53d08c380aa18/e6db9ec687133f83e2c8490d358a6c8c/image.jpeg')">

    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Search for {{search}}</h1>
                    <span class="subheading">the coders who cook</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts|reverse %}
            <div class="post-preview">
                <a href="post/{{post.post_id}}">
                    <h2 class="post-title">
                        {{post.blog_title}}
                    </h2>
                    <h6 class="post-subtitle">
                        {{post.blog_subtitle}}
                    </h6>
                </a>
                <p class="post-meta">Posted by
                    {{post.blog_author}}
                    on {{post.post_date}}</p>
            </div>
            <hr>
            {% endfor %}
            <!-- Pager -->
        </div>
    </div>
</div>

{% endblock %}